    /* back arrow design start  */
    /*for mobile  */
    .back_arrow {
      position: absolute;
      top: 10px;
      left: 15px;
      font-size: 20px;
      text-decoration: none;
      color: rgb(255, 255, 255);
    }

    /* for pc and tab  */
    @media (min-width: 700px) {
      .back_arrow {
        top: 60px;
        left: 30px;
        font-size: 30px;
      }
    }

    /* back arrow design end  */