.internet{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.online,.offline{
    width: 80%;
    height: auto;
    background-color: blue;
    padding: 10px;
    text-align: center;
    color: white;
    font-weight: bold;
    position: fixed;
    top: 280px;
    border: 2px double black;
    border-radius: 20px;
    display: none;
    z-index: 2;
   
}

.online{
     background-color: greenyellow;
     color: rgb(252, 105, 0);
}



