/* popup image styling start */

.pop_img {
    width: 550px;
    height: 310px;
    position: fixed;
    background-color: #007AFF;
    background-image: url("thumbnial.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border: 3px solid #ffffff;
    border-radius: 10px;
    top: 200px;
    left: 32%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: popupAnim 0.5s ease;
}

.pop_cross {
    position: fixed;
    top: 210px;
    left: 65%;
    font-size: 30px;
    color: rgb(12, 12, 12);
    z-index: 1001;
}

.pop_cross:hover {
    color: rgb(227, 227, 227);
    cursor: pointer;
}

@keyframes popupAnim {
    0% {
        opacity: 0;
        transform: scale(0.7);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}


/* for mobile */

@media screen and (max-width: 768px) {
    .pop_img {
        width: 90%;

        top: 150px;
        left: 5%;
    }

    .pop_cross {
        top: 160px;
        left: 85%;
    }
}





/* popup image styling end */



/* developer coding start */

.develeper {
    width: 100%;
    height: 330px;
    background-color: rgb(243, 242, 242);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* overflow: scroll; */
    box-shadow: 1px 5px 5px gray;
}

.ourteam {
    font-size: 25px;
    color: green;
    font-weight: bolder;
    text-align: center;
}

.develeper>.slide {
    width: 100%;
    height: 330px;
    background-color: rgb(243, 242, 242);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;


}

.image-box {
    width: 180px;
    height: 230px;
    background-color: white;
    border-radius: 10px;
    margin: 0 15px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.image-box:hover {
    /* width: 190px;
    height: 240px; */
    transform: scale(1.025);
    box-shadow: 0px 5px 25px rgb(67, 67, 67);
    transition: all 0.4s ease;
}

.ib1 {
    background-image: url(./our-div/himanshu.jpg);
}

.ib2 {
    background-image: url(./our-div/shivam.jpg);
}

.ib3 {
    width: 220px;
    height: 270px;
    background-image: url(./our-div/raj.jpg);
}

.ib4 {
    background-image: url(./our-div/mithun.jpg);
}

.ib5 {
    background-image: url(./our-div/jitesh.jpg);
}


@media ( max-width: 1053px) {
    .develeper{
        overflow: scroll;
        display: flex;
        align-items:start;
    }

    .develeper .slide{
        width: 1000px;
        margin-left: 30px;
        display: flex;
        flex-direction: row;
        /* background-color: red; */
        animation: slide 15s linear infinite;
    }
        
    

    @keyframes slide {

        from {
            transform: translateX(100%);
        }
        to{
            transform: translateX(-100%);
        }

    }

    .ib1{
        background-image: url(./our-div/himanshu.jpg);
    }
    .ib3{
           width: 180px;
    height: 230px;
    background-image: url(./our-div/raj.jpg);
    }

  
}


/* developer coding end */
